<section class="portfolio">
  <div class="main-container" style="padding-top:8px;">
    <h1>Kamsi Ibeziako</h1>
    <h2 class="sub">Computer Science Portfolio</h2>
    <span class="underline"></span>
    {% assign array = site.data.projects | reverse: %}
    {% assign  num = 0 %}
    {% for int in (1..2) %}
    <div class="row" style="margin: 0 -1rem;">
      {% for i in site.data.projects reversed%}
      {% if num  == 6%}
        {% break %}
      {%endif%}
      <div class="row-content">
        <a href="">
          <div class="project-box">
            <div class="img">
              <img src="" alt="">
            </div>
            <div class="body">
                <div class="heading">{{array[num].title}}</div>
              <div class="content sub">{{array[num].description}}</div>
              <span class="underline-d"></span>
              <div class="info sub">{{array[num].year}} &centerdot; {{array[num].category}}</div>
            </div>
          </div>
        </a>
      </div>
      {% assign  num = num | plus: 1 %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
